.eCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.eCard:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.cardHeader {
  color: #4f4f4f;
  padding: 1.25rem;
  font-weight: 400;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.subheader{
  font-size: .9rem;
  margin: 10px 0;
  color: #4f4f4f;
}

.cardContent {
  padding-top: 0;
  flex-grow: 1;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #f5f5f5;
  border-radius: 0 0 4px 4px;
}

.deleteButton {
  color: rgb(202, 40, 29);
}
