@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;400;500&display=swap');


.glass {
  background: rgba(255,255,255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  padding: 1.25rem .75rem;
}

p {
  margin: 0;
  padding: 0;
}

.card {
  font-family: 'Barlow Semi Condensed', sans-serif;
  
  margin: 0 20px;
  padding: 15px;
  /* background-image: url('https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=627&q=80'); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 25vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-even;
  border-radius: 10px;

}

.card .current {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  /* margin-bottom: 1rem; */
}

.card .current .header {
  text-align: center;
}

.card .current .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card .current .main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .current .addnl {
  width: 250px;
  padding: 5px 0;
}

.card .currentDate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .city {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.card .temp {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.card .highLow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.card .highLow p {
  font-size: 1rem;
  margin: 5px 10px;
  padding: 0;
}

.card .desc {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.card .curDate {
  font-size: 1.25rem;
  margin: 0;
}

.card .forecastWeather {
  width: 100%;
  margin-top: 20px;
}

.card .forecastWeather .date {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.card .forecastWeather .low {
  color: #333333;
}

.card .caps {
  text-transform: capitalize;
}

.card .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.card .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
