@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


.nav-button{
    text-decoration: none;
}

.menuIcon{
    color: rgb(36, 198, 87)
};

.header-toolbar {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center items vertically in the toolbar */
  }

  .headerTitle{
    font-family: 'Shrikhand', cursive;
    letter-spacing: .2rem;
  }