/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-image: url('../../../assets/background.png');
    background-size: cover;
    background-position: center;
  }
  
  .main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex-grow: 1;
    /* Add any additional styling for the main content here */
  }
  
  /* Adjust the z-index of the Header and Footer components */
  .Header {
    z-index: 2; /* Set a higher value to display the header above the content */
  }
  
  .Footer {
    z-index: 2; /* Set a higher value to display the footer above the content */
  }
  